.main-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.scrollerListWrapper {
  width: 90vw;
  height: 100%;
}

.scrollerList {
  overflow-x: hidden;
  border: 1px solid #808080;

  &::-webkit-scrollbar {
    width: 6px;
    background-color: #fff;
  }

  &::-webkit-scrollbar-thumb {
    width: 6px;
    background-color: #808080;
    border-radius: 5px;
  }
}


.scrollerRow {
  display: flex;
  justify-content: center;
}


@media (max-width: 600px) {
  .scrollerListWrapper {
    width: 100vw;
  }

  .scrollerList {
    border: none;
  }
}
