:root {
  --font-family-main: "Roboto", "Arial", "sans-serif";
  --font-size-title: 25px;
  --font-size-main: 16px;
  --font-size-card-title: 18px;
  --color-button-text: #000;
  --black: #000;
  --color-error-text: #f00;
  --font-size-error: 25px;
}
