@font-face {
  font-family: "Roboto-Bold";
  font-style: normal;
  font-weight: 500;
  src: url("./Roboto/Roboto-Bold.ttf");
  font-display: auto;
}

@font-face {
  font-family: "Roboto-Light";
  font-style: normal;
  font-weight: 500;
  src: url("./Roboto/Roboto-Light.ttf");
  font-display: auto;
}

@font-face {
  font-family: "Roboto-Medium";
  font-style: normal;
  font-weight: 500;
  src: url("./Roboto/Roboto-Medium.ttf");
  font-display: auto;
}

@font-face {
  font-family: "Roboto-Regular";
  font-style: normal;
  font-weight: 500;
  src: url("./Roboto/Roboto-Regular.ttf");
  font-display: auto;
}
